# web framework 
flask==3.0.3 

# websocket support layered on flask
flask-socketio==5.3.6

# ORM - let you write python classes instead of raw sql for postgres
flask-sqlalchemy==3.1.1

# schema migrations
flask-migrate==4.0.7

# issues and verify JWT for authentication
flask-jwt-extended==4.6.0

# let your angular app(diff port) call this API without the browser blocking it 
flask-cors==4.0.1

# actual driver that lets python talk to postgres
psycopg2-binary==2.9.9

# datastax's offical driver for talking to cassandra
cassandra-driver==3.29.1

# client for redis - 
redis==5.0.4

# loads your .env file into enviroment variables
python-dotenv==1.0.1

# password hash
bcrypt==4.1.3

# lets flast-socketIO handle many concurrent connections efficiently
eventlet==0.36.1

# validation
pydantic[email]

# testing
pytest==8.2.0
pytest-flask==1.3.0
